.*
/dist/*
!/dist/handout/demo.html
!/dist/handout/demo.js
!/dist/tiku/demo.html
!/dist/tiku/demo.js
/dist/handout/bundle.js
/dist/tiku/bundle.js
/node_modules
/selenium
/docs/_site
/src
*.d.ts
*.log
/nokogiri-1.8.1
