@import './snow'
@import './tiku-eidtor.less'

.ql-tiku {
  position: relative;

  .paragraph-mark {
    // display: none;
  }

  img {
    max-width: 100%;
    min-width: 10px;
    min-height: 10px;
    border: 2px dotted #FA574B;
    vertical-align: middle;
  }

  .yk-math-img {
    border: 1px dotted #07b4fd;
  }

  .ql-image-resizer {
    display: none;
    position: absolute;
    border: 1px solid rgb(59, 119, 255);

    .ql-image-resizer-hand0 {
      cursor: nw-resize;
      transform: translate(-50%, -50%);
    }

    .ql-image-resizer-hand1 {
      cursor: n-resize;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .ql-image-resizer-hand2 {
      cursor: ne-resize;
      right: 0;
      transform: translate(50%, -50%);
    }
    .ql-image-resizer-hand3 {
      cursor: e-resize;
      right: 0;
      top: 50%;
      transform: translate(50%, -50%);
    }
    .ql-image-resizer-hand4 {
      cursor: se-resize;
      right: 0;
      bottom: 0;
      transform: translate(50%, 50%);
    }
    .ql-image-resizer-hand5 {
      cursor: s-resize;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
    }
    .ql-image-resizer-hand6 {
      cursor: sw-resize;
      bottom: 0;
      left: 0;
      transform: translate(-50%, 50%);
    }
    .ql-image-resizer-hand7 {
      cursor: w-resize;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
    }
    span {
      position: absolute;
      width: 6px;
      height: 6px;
      overflow: hidden;
      font-size: 0px;
      display: inline-block;
      background-color: #3C9DD0;
    }
  }
}

.ql-toolbar.ql-tiku {
  .ql-pinyin .ql-picker-label {
    padding: 0 2px;
    width: 28px;
  }

  .ql-picker-label {
    outline: none;
  }

  .ql-text-picker {
    .ql-picker-options {
      width: 122px;
      padding: 0;
    }
    .ql-picker-item {
      border: 1px solid transparent;
      float: left;
      height: 30px;
      padding: 0px;
      width: 30px;
      text-align: center;
      line-height: 30px;

      &:hover {
        background-color: #fff5d4;
        border: 1px solid #dcac6c;
        padding: 0;
      }
    }
  }

  .tk-disable-history {
    svg * {
      stroke: darkgray;
    }

    &:hover {
      .ql-stroke {
        stroke: darkgray;
      }
    }
  }
}
